* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #72DFC0;
    background-image: url("/src/assets/images/blog-paper-background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 65vw;
    animation: background-grow ease-out forwards;
    animation-duration: 2s;
}

@keyframes background-grow {
    from {
        background-position: center 200%;
    } to {
        background-position: center top;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #47474771;
    animation: fade-in ease-out;
    animation-duration: 1.5s;
}

.fade {
    animation: fade-in ease-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {
        opacity: 0
    } to {
        opacity: 1
    }
}

.navbar > button {
    padding: 1rem;
    margin: 1.2rem .5rem;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 20rem;
    opacity: 0;
    font-family: 'Barlow Condensed';
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-radius: 1.4rem;
    border: 10px solid #000000;
    border: none;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 20px 0.75 #575757;
    transition: max-width 250ms ease-in-out,
                max-height 250ms ease-in-out,
                background-color 250ms linear,
                color 250ms linear;
    animation: hover 2s ease-out forwards;
}

.navbar > button:hover {
    cursor: pointer;
    max-width: 25rem;
    background-color: #ffffff;
    color: #000000;
}

@keyframes hover {
    0% {
        transform: translate(0%,200%);
        opacity: 0;
    }

    70% {
        transform: translate(0%,-10%);
        opacity: 0.1
    }

    100% {
        opacity: 1
    }
}

.navbar > button:nth-child(1) {
    animation-delay: 100ms
}

.navbar > button:nth-child(2) {
    animation-delay: 200ms
}

.navbar > button:nth-child(3) {
    animation-delay: 300ms
}

.navbar > button:nth-child(4) {
    animation-delay: 400ms
}

.header {
    font-family: 'Lora';
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 4rem 7.5rem 5rem;
    gap: 2rem;
    max-width: 100%;
    width: 55vw;
    min-width: 10rem;
}

.header > h1 {
    font-size: 80px;
    font-weight: 800;
    text-align: center;
}

.header > p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}


.fade-out {
    animation: fade-out ease-out forwards;
    animation-duration: 500ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.transition-container {
    display: grid; 
    place-items: center; 
    height: 95vh; 
}

.home-grow {
    background-image: url("/src/assets/images/home-background.png");
    position: fixed;
    padding: 1600px 1600px;
    transform: scale(0);
    animation: circle-grow ease-in-out forwards;
    animation-duration: 2s;
}

.music-grow {
    background-image: url("/src/assets/images/music-background.png");
    position: fixed;
    padding: 1600px 1600px;
    transform: scale(0);
    animation: circle-grow ease-in-out forwards;
    animation-duration: 2s;
}

.gallery-grow {
    background-image: url("/src/assets/images/gallery-background.png");
    position: fixed;
    padding: 1600px 1600px;
    transform: scale(0);
    animation: circle-grow ease-in-out forwards;
    animation-duration: 2s;
}

@keyframes circle-grow {
    from {
        transform: scale(0) 
    } to {
        transform: scale(1) 
    }
}

.blog-body {
    display: flex; 
    justify-content: center;
    gap: 5rem;
    margin: 0 20rem 5rem;
    flex-wrap: wrap;
}

.blog-item {
    padding: 7rem 15rem;
    min-width: 25rem;
    min-height: 10rem;
    max-height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    background: #ffffff;
    border-radius: 2rem;
    flex-basis: 25%;
    font-family: 'Lora';
    border: none;
    box-shadow: 0 5px 5px #000000;
    animation: fade-in ease-in;
    animation-duration: 2s;
    text-decoration: inherit;
    color: inherit;
    transition: min-width 200ms linear,
                min-height 200ms linear;
}

.blog-item:hover {
    min-width: 30.5rem;
    min-height: 15rem;
    cursor: pointer;
}

.blog-item > img {
    border: 0.5rem solid #ebebeb;
    object-fit: cover;
    height: 8rem;
    border-radius: 1rem;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.general {
    background: #1d7ce9;
}

.general > img {
    border: 0.5rem solid #156acc;
}

.music {
    background: #a701b6;
}

.music > img {
    border: 0.5rem solid #80008b;
}


.spots {
    background: #e98a1d;
}

.spots > img {
    border: 0.5rem solid #db811a;
}

.cooking {
    background: #c8f110;
}

.cooking > img {
    border: 0.5rem solid #b4da0d;
}

.video-games {
    background: #10f175;
}

.video-games > img {
    border: 0.5rem solid #0fdb6b;
}

.screen-media {
    background: #f32865;
}

.screen-media > img {
    border: 0.5rem solid #f11053;
}

.type {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: .5rem
}

.timestamp {
    font-size: 12px
}

.blog-article {
    font-family: "Lora";
    display: flex;
    flex-direction: column;
    justify-self: center;
    min-width: 20rem;
    width: 50vw;
    max-width: 100%;
}

.article-header > h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 5rem 0 1rem;
}

.article-type {
    font-size: 20px;
    font-weight: 600;
}

.article-timestamp {
    font-size: 15px;
    font-weight: 500;
}

.article-header {
    margin: 0 0 3rem;
}

.article-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 65rem;
    max-width: 100%;
    margin: 0 0 2rem;
    font-size: 25px;
    font-weight: 500;
    gap: 2rem;
}

.blog-article > img {
    border-radius: 5rem;
    border: .5rem solid #ffffff;
    margin: 0 0 4rem;
    width: 15rem;
    align-self: center;
}

.back-button {
    position: fixed;
    top: 20;
    background-color: #47474763;
    border-radius: 1rem;
    padding: .5rem;
    margin: 2.5rem 0 0 -20rem;
    border: .25rem solid #ffffff;
    transition: transform 250ms ease-out;
}

.back-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.back-button > img {
    width: 5rem;
}

select {
  width: 8rem;
  padding: .25rem;
  border-radius: .25rem;
  border: none;
  font-size: 16px;
  font-family: "Lora";
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
}

select:focus {
  outline: none;
}

option {
    font-size: 14px;
}

.article-content > h1 {
    font-size: 2rem;
    margin: 2rem 0;
}

.article-content > p {
    font-size: 1.5rem;
    font-weight: 300;
}

.article-content > img {
    margin: 3rem;
    align-self: center;
    max-height: 30rem;
    border-radius: 5rem;
    border: .5rem solid #ffffff;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}