* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #424242;
    font-family: 'Barlow Condensed';
}

.gallery-container::before {
    transform: scaleY(0)
}

.gallery-container {
    height: 88vh;
    width: 100%;
    position: absolute;
    box-shadow: 0 2px 5px #575757;
    animation: gallery-fade ease-in-out;
    animation-duration: 1.5s;
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    gap: 10px;
    color: #fff;
    position: relative;
    z-index: 20;
}

.head-text > h1 {
    font-size: 100px;
    letter-spacing: 2px;
    animation: gallery-fade ease-in-out;
}

.head-text > span {
    font-size: 50px;
    font-weight: 200;
}

@keyframes gallery-fade {
    0% {
        opacity: 0
    } 
    
    100% {
        opacity: 1
    }
}

.overlay {
    background-color: rgba(0.0,0.0,0.0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    10% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    60% {
        opacity: 0
    }

    70% {
        opacity: 0
    }

    80% {
        opacity: 0
    }
    
    90% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.gallery-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-view-box: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 50s ease-in-out infinite alternate;
}

#one {
    animation-delay: 50s
}
#two {
    animation-delay: 45s
}
#three {
    animation-delay: 40s
}
#four {
    animation-delay: 35s
}
#five {
    animation-delay: 30s
}
#six {
    animation-delay: 25s
}
#seven {
    animation-delay: 20s
}
#eight {
    animation-delay: 15s
}
#nine {
    animation-delay: 10s
}
#ten {
    animation-delay: 5s
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0rem;
    gap: 2.5rem;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.navbar > button {
    padding: 1rem;
    margin: 1.2rem 0;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 20rem;
    opacity: 0;
    font-family: 'Barlow Condensed';
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-radius: 1.4rem;
    border: 10px solid #000000;
    border: none;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 20px 0.75 #575757;
    transition: max-width 250ms ease-in-out,
                max-height 250ms ease-in-out,
                background-color 250ms linear,
                color 250ms linear;
    animation: hover 2s ease-out forwards;
}

.navbar > button:hover {
    cursor: pointer;
    max-width: 25rem;
    background-color: #ffffff;
    color: #000000;
}

@keyframes hover {
    0% {
        transform: translate(0%,200%);
        opacity: 0;
    }

    70% {
        transform: translate(0%,-10%);
        opacity: 0.1
    }

    100% {
        opacity: 1
    }
}

.navbar > button:nth-child(1) {
    animation-delay: 100ms
}

.navbar > button:nth-child(2) {
    animation-delay: 200ms
}

.navbar > button:nth-child(3) {
    animation-delay: 300ms
}

.navbar > button:nth-child(4) {
    animation-delay: 400ms
}

.navbar > button:nth-child(5) {
    animation-delay: 500ms
}