body {
    background-color: #424242;
    font-family: 'Barlow Condensed';
}

.transition-container {
    display: grid; 
    place-items: center; 
    height: 95vh; 
}

.circle-shrink {
    background-image: url("/assets/images/background.png");
    position: fixed;
    padding: 1600px 1600px;
    transform: scale(0);
    animation: circle-shrink ease-in-out;
    animation-duration: 2s;
}

@keyframes circle-shrink {
    from {
        transform: scale(1) 
    } to {
        transform: scale(0) 
    }
}